#grid{
  border: 1px gray solid;
  display:grid;
  align-items: stretch;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  }
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 50%;
}
.overlay
{
position: absolute;
}
p{
  text-align:center
}
