#grid{
  border: 1px gray solid;
  display:grid;
  align-items: stretch;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  }
  div{
    padding:10px;
    word-wrap: break-word;
  }
  ol {
    padding-left: auto;
    padding-right: auto;
    width: 8em;
  }
  h1{
    text-align: center;
  }
  .center {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
p{
  text-align:center
}
